<div class="p-5">
    <h1>Welcome <%= currentUser.firstName %> <%= currentUser.admin %> </h1>
    <% if (stories.length === 0) {%>
        <h2>No stories told...yet</h2>
    <% } else { %>
        
    <% } %>   
</div>